apache-airflow==2.7.0
pandas==2.0.3
requests==2.32.3
rarfile==4.2
py7zip==0.6.2
pydantic==1.10.20
tqdm==4.67.1
mariadb==1.1.11
py7zr==0.22.0

# mega.py
# pycrypto==2.6.1
# pycryptodome==3.21.0
# mega.py==1.0.8
# tenacity==9.0.0
